@model NumberGuessingGame.ViewModels.Game

@{
    ViewBag.Title = "Gissa det hemliga talet";
}

<h2>@Html.NumberToSwedish(Model.SecretNumber.Count + 1) gissningen</h2>

@Html.Partial("_GuessForm")

@if (Model.SecretNumber.Count > 0)
{
    var last = Model.SecretNumber.LastGuessedNumber;
    
    <p>
        @if (last.Outcome == Outcome.High || last.Outcome == Outcome.Low)
        {
            @:@last.Number är för @Html.HighOrLow(last, "högt", "lågt")
        }
        else
        {
            @:Du har redan gissat på @last.Number!
        }
    </p>
}

@Html.Partial("_GuessHistory")
